**Uploading the file on Colab and Importing the Required Libraries**

In [ ]:
from google.colab import files
uploaded = files.upload()
import numpy as np
import pandas as pd

**Reading the .csv file of given dataset and seeing first five rows of dataset**

In [2]:
file = pd.read_csv("student_scores - student_scores.csv")

In [ ]:
file.head()

**.info** This function gives total number of rows and count of null and missing values if present any

In [ ]:
file.info()

**Describe function gives the required values like mean mean , standard deviation , minimum and maximum values and at last 25% percenile values**

---

In [ ]:
file.describe()

**Defining X and Y** 

X --> Number of Hours the student studies ( Feature )

Y --> Test Scores of a student ( Label )

In [37]:
x = file.drop(['Scores'],axis =1).values
y = file['Scores'].values

**Split of Training and Test Dataset**

train_test_split is one of popular funtions used for splitting 
there are other too e.g stratified suffle split , random , non-randon etc.

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=69)

**Since there were only two variables for the given Problem Statement
that is why I used the LinearRegresssion**

In [ ]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(x_train,y_train)

In [ ]:
y_pred = reg.predict(x_test)
print(y_pred)

**Evaluation of model based on r2_score and mean_squared_error**

r2 score explains the variation of dependent variable with respect to independent variable it lies between 0 to 1. it tells us that how much variation in lables(dependent variable) is coming by variation in features(independent variables).
it must be close to 1 for better results.

interpretation: How much variation of "Score" is explained by "Hours" in our regression model it is 93% or 0.93 so we are on good side.:)

In [ ]:
from sklearn.metrics import r2_score
e = r2_score(y_test,y_pred)
e

**Evaluation of model based on mean_squared_error(MSE)**

MSE is average value of squared error. the suqared error is calculated by taking summation of squares of difference between predicted and actual label value. it must be as minimum as possible for good prediction. 

Interpretation: my MSE is coming out to be 27.29 which is quite large I would really appreciate If someone can help to minimize this in better way.:)

In [ ]:
from sklearn.metrics import mean_squared_error
e = mean_squared_error(y_test,y_pred)
e

Plotting this graph would help me to determine whether the predicted and actual values of scores are close or not. if they are close enough the points on below graph will be in straight line. as we can see from the below only one point is exception. since the data set is pretty small it is difficult to observe the theory which considered.

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(5,5))
plt.scatter(y_test,y_pred)

plt.xlabel("Actual")
plt.ylabel("Predicted")
plt.title("Actual vs. Predicted")

In [59]:
df = pd.DataFrame({"Predicted Values":y_pred ,"Actual Values":y_test , "Difference":y_pred-y_test})
df

   Predicted Values  Actual Values  Difference
0         74.905761             69    5.905761
1         61.844106             67   -5.155894
2         25.673372             30   -4.326628
3         48.782452             54   -5.217548
4         11.606975             17   -5.393025

**Q)** What will be predicted score if a student studies for 9.25 hrs/ day?

**Ans** 93.5% according to my model

In [65]:
value = reg.predict([[9.25]])

In [66]:
value

array([93.49349906])